# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build
dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

# vercel
.vercel 
.cursor/rules/project-stack.mdc
.cursor/rules/rules.mdc
apps/frontend/.cursor/rules/project-stack.mdc
apps/frontend/.cursor/rules/rules.mdc
apps/backend/.cursor/rules/project-stack.mdc
apps/backend/.cursor/rules/rules.mdc
